{% extends 'base.html' %}
{% block title %}Editar Perfil{% endblock %}
{% block content %}

<head>
    <title>Smart - Alterar Senha</title>
</head>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<br><br><br><br><br><br>

<div class="container">

    <div class="container-xl px-4 mt-4">
         <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link ms-0" href="{% url 'editar_conta' %}">Informações</a>
            <a class="nav-link ms-0" href="{% url 'minhas_vagas' %}">Minhas Vagas</a>
            <a class="nav-link active" href="{% url 'minhas_vagas' %}">Alterar Senha</a>
        </nav>
        <hr class="mt-0 mb-4">

        <br>


        <div class="row">

                {% if messages %}
                {% for message in messages %}
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                        </div>
                  </div>
                {% endfor %}
                {% endif %}



                <div class="card">
                    <div class="card-header">Alterar Senha</div>
                    <div class="card-body">

                        <form method="post">
                            {% csrf_token %}
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="id_old_password">Senha antiga</label>
                                <input class="form-control" id="id_old_password" name="old_password" type="password" placeholder="********">
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="id_new_password1">Confirmação de nova senha</label>
                                <input class="form-control" id="id_new_password1" name="new_password1" type="password" placeholder="********">
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="id_new_password2">Nova senha</label>
                                <input class="form-control" id="id_new_password2" name="new_password2" type="password" placeholder="********">
                            </div>

                            <button class="btn btn-primary" type="submit">Salvar alterações</button>
                        </form>
                    </div>
                </div>
            </div>

        <br><br>
    </div>
</div>

{% endblock %}