{% extends 'base.html' %}
{% block title %}Editar Perfil{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <title>Smart - Minha Conta</title>
</head>

<br><br><br><br><br><br>


<div class="container">

    <div class="container-xl px-4 mt-4">
         <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link active" href="{% url 'editar_conta' %}">Informações</a>
            <a class="nav-link ms-0" href="{% url 'minhas_vagas' %}">Minhas Vagas</a>
            <a class="nav-link ms-0" href="{% url 'alterar_senha' %}">Alterar Senha</a>
        </nav>
        <hr class="mt-0 mb-4">

        <br>


        <div class="row">
            {% comment %} <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button class="btn btn-primary" type="button">Upload new image</button>
                    </div>
                </div>
            </div> {% endcomment %}
                <!-- Account details card-->
                <div class="card">
                    <div class="card-header">Informações da Conta</div>
                    <div class="card-body">

                        {% comment %} <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="btn btn-primary"> Atualizar</button>
                        </form> {% endcomment %}




                        <form method="post">
                            {% csrf_token %}
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control" id="id_email" name="email" type="email" placeholder="Digite o seu email" value="{{request.user.email}}">
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Nome</label>
                                    <input class="form-control" id="id_first_name" name="first_name" type="text" placeholder="Digite o seu primeiro nome" value="{{request.user.first_name}}">
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Sobrenome</label>
                                    <input class="form-control" id="id_last_name" name="last_name" type="text" placeholder="Digite o seu sobrenome" value="{{request.user.last_name}}">
                                </div>
                            </div>
                            {% comment %} <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (organization name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Organization name</label>
                                    <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
                                </div>
                                <!-- Form Group (location)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">Location</label>
                                    <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                                </div>
                                <!-- Form Group (birthday)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Birthday</label>
                                    <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                                </div>
                            </div> {% endcomment %}
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Salvar alterações</button>
                        </form>
                    </div>
                </div>
            </div>

        <br><br>
    </div>
</div>

{% endblock %}