{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Smart - Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<br><br><br>
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
			<div class="wrap-login100">


				
				{% if form.errors %}
						<div class="container-fluid p-0">
							<div class="alert alert-danger" role="alert" >
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="True">&times;</span>
							</button>
							{{ form.non_field_errors }}
							</div>
						</div>

				{% endif %}


				<form class="login100-form" method="post" autocomplete="off">
                    {% csrf_token %}
					<span class="login100-form-title p-b-34 p-t-27">
						Acessar sua conta
					</span>



					<div class="wrap-input100 validate-input" data-validate = "Coloque o seu e-mail">
						<input class="input100" type="username" id="email" name="username" placeholder="E-mail">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Coloque a sua senha">
						<input class="input100" type="password" name="password" id="password" placeholder="Senha">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Entrar
						</button>
					</div>

					{% if request.GET.next %}
						{% comment %} <input type="hidden" name="next" value="{{request.GET.next}}" {% endcomment %}
					
						<div class="text-center p-t-50">
							<a class="txt1" href="{% url 'signup' %}?next={{request.GET.next}}">
								Ainda não tem conta? Cadastre-se
							</a>
						</div>
					{% else %}
					<div class="text-center p-t-50">
						<a class="txt1" href="{% url 'signup' %}">
							Ainda não tem conta? Cadastre-se
						</a>
					</div>

					{% endif %}
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
	{% endblock %}