{% load static %}

<section id="contact" class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h3 class="title">Entre em contato</h3>
                    <p class="text">Pare de perder tempo e dinheiro projetando e gerenciando um site que não obtém resultados. Felicidade garantida!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-two mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <h4 class="contact-title">Vamos falar sobre o proejto</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam unde repellendus delectus facilis quia consequatur maxime perferendis! Sequi, modi consequatur.</p>
                    <ul class="contact-info">
                        <li><i class="lni-money-location"></i> Montes Claros-MG, Brasil</li>
                        <li><i class="lni-phone-handset"></i> +55 38 99127-7179</li>
                        <li><i class="lni-envelope"></i> gusta.oliv4@gmail.com</li>
                    </ul>
                </div> <!-- contact two -->
            </div>
            <div class="col-lg-6">
                <div class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
                    <form  id="contact-form" action="assets/contact.php" method="post">
                        <div class="form-input mt-15">
                            <label>Nome</label>
                            <div class="input-items default">
                                <input type="text" placeholder="Nome" name="name">
                                <i class="lni-user"></i>
                            </div>
                        </div> <!-- form input -->
                        <div class="form-input mt-15">
                            <label>E-mail</label>
                            <div class="input-items default">
                                <input type="email" placeholder="E-mail" name="email">
                                <i class="lni-envelope"></i>
                            </div>
                        </div> <!-- form input -->
                        <div class="form-input mt-15">
                            <label>Mensagem</label>
                            <div class="input-items default">
                                <textarea placeholder="Mensagem" name="massage"></textarea>
                                <i class="lni-pencil-alt"></i>
                            </div>
                        </div> <!-- form input -->
                        <p class="form-message"></p>
                        <div class="form-input rounded-buttons mt-20">
                            <button type="submit" class="main-btn rounded-three">Enviar</button>
                        </div> <!-- form input -->
                    </form>
                </div> <!-- contact form -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>