{% load static %}

<!--====== FOOTER FOUR PART START ======-->

<footer id="footer" class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Empresa</h6>
                        <ul>
                            <li><a href="#">Sobre</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Perfil</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Soluções</h6>
                        <ul>
                            <li><a href="#">Serviços de instalações</a></li>
                            <li><a href="#">Pessoal no local de trabalho</a></li>
                            <li><a href="#">Gerenciamento de projetos</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Produtos & Serviços</h6>
                        <ul>
                            <li><a href="#">Produtos</a></li>
                            <li><a href="#">Negócio</a></li>
                            <li><a href="#">Desenvolvimento</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Ajuda & Suporte</h6>
                        <ul>
                            <li><a href="#">Central de Suporte</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Termos & Condições</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->
    
    <div class="footer-copyright">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="copyright text-center text-lg-left mt-10">
                        <p class="text">Desenvolvido por <a style="color: #38f9d7" rel="nofollow" href="https://github.com/gustaoliv">Gustavo Oliveira</p>
                    </div> <!--  copyright -->
                </div>
                <div class="col-lg-2">
                    <div class="footer-logo text-center mt-10">
                        <a href="index.html"><img src="{% static 'images/logo-2.svg' %}" alt="Logo"></a>
                    </div> <!-- footer logo -->
                </div>
                <div class="col-lg-5">
                    <ul class="social text-center text-lg-right mt-10">
                        <li><a href="https://www.linkedin.com/in/gustavo-a-oliveira/"><i class="lni-linkedin-original"></i></a></li>
                        <li><a href="https://instagram.com/gusta.oliv"><i class="lni-instagram-original"></i></a></li>
                        <li><a href="https://github.com/gustaoliv"><i class="lni-github"></i></a></li>
                    </ul> <!-- social -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>

<!--====== FOOTER FOUR PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======-->  