<br><br><br>
<div class="container">
    <div class="row">
         <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center ">
                <h3 class="top-c-sep">Grow your career with us</h3>
                <p>Lorem ipsum dolor sit detudzdae amet, rcquisc adipiscing elit. Aenean socada commodo
                    ligaui egets dolor. Nullam quis ante tiam sit ame orci eget erovtiu faucid.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                <div class="filter-result">
                    <p class="mb-30 ff-montserrat">Total Job Openings: {{ vacancies|length }}</p>
                    {%  for v in vacancies %}
                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                {{v.name|slice:":2"}}
                            </div>
                            <div class="job-content">
                                <h5 class="text-center text-md-left"><a href="#modal{{v.id}}" data-toggle="modal">{{v.name}}</a></h5>
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-money mr-2"></i>{{v.salary_range}}
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-graduation-cap mr-2"></i>{{v.minimum_schooling}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <a href="#" class="btn d-block w-100 d-sm-inline-block btn-light">Apply now</a>
                        </div>
                    </div>
                    {% comment %} Jobs Descrition/Requirements PopUp Modal {% endcomment %}
                    <div class="modal fade bd-example-modal-lg show" id="modal{{v.id}}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% block content %}
                                <div class="modal-body" id="dynamic-content">
                                    <center>
                                        <h4>
                                            <strong>
                                                {{v.name}}
                                            </strong>
                                        </h4>
                                        <br>
                                        <div class="job-content">
                                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                <li class="mr-md-4">
                                                    <i class="zmdi zmdi-money mr-2"></i>{{v.salary_range}}
                                                </li>
                                                <li class="mr-md-4">
                                                    <i class="zmdi zmdi-graduation-cap mr-2"></i>{{v.minimum_schooling}}
                                                </li>
                                            </ul>
                                        </div>
                                    </center>
                                    <br>
                                    <justify>
                                        <P><strong>Requirements:</strong></p>
                                        <p>{{v.requirements}}</p>
                                    </justify>
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>

                    
                    {% endfor %}

                </div>
            </div>

            <!-- START Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-reset justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <i class="zmdi zmdi-long-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item d-none d-md-inline-block"><a class="page-link" href="#">2</a></li>
                    <li class="page-item d-none d-md-inline-block"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END Pagination -->
        </div>
    </div>

</div>