{% load static %}

<section id="testimonial" class="testimonial-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h3 class="title">Testimonial</h3>
                    <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="row testimonial-active">
                    <div class="col-lg-4">
                        <div class="single-testimonial mt-30 mb-30 text-center">
                            <div class="testimonial-image">
                                <img src="{% static 'images/author-3.jpg' %}" alt="Author">
                            </div>
                            <div class="testimonial-content">
                                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                <h6 class="author-name">Isabela Moreira</h6>
                                <span class="sub-title">CEO, GrayGrids</span>
                            </div>
                        </div> <!-- single testimonial -->
                    </div>
                    <div class="col-lg-4">
                        <div class="single-testimonial mt-30 mb-30 text-center">
                            <div class="testimonial-image">
                                <img src="{% static 'images/author-1.jpg' %}" alt="Author">
                            </div>
                            <div class="testimonial-content">
                                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                <h6 class="author-name">Fiona</h6>
                                <span class="sub-title">Lead Designer, UIdeck</span>
                            </div>
                        </div> <!-- single testimonial -->
                    </div>
                    <div class="col-lg-4">
                        <div class="single-testimonial mt-30 mb-30 text-center">
                            <div class="testimonial-image">
                                <img src="{% static 'images/author-2.jpg' %}" alt="Author">
                            </div>
                            <div class="testimonial-content">
                                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                <h6 class="author-name">Elon Musk</h6>
                                <span class="sub-title">CEO, SpaceX</span>
                            </div>
                        </div> <!-- single testimonial -->
                    </div>
                    <div class="col-lg-4">
                        <div class="single-testimonial mt-30 mb-30 text-center">
                            <div class="testimonial-image">
                                <img src="{% static 'images/author-4.jpg' %}" alt="Author">
                            </div>
                            <div class="testimonial-content">
                                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                <h6 class="author-name">Fajar Siddiq</h6>
                                <span class="sub-title">CEO, MakerFlix</span>
                            </div>
                        </div> <!-- single testimonial -->
                    </div>
                </div> <!-- row -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>