{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <title>Smart - Editar Vaga</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<br><br><br><br><br><br>


<div class="container">


    <div class="container-xl px-4 mt-4">

        <nav class="nav nav-borders">
            <a class="nav-link ms-0" href="{% url 'admin_vacancies' %}">Vagas disponíveis</a>
            <a class="nav-link ms-0" href="{% url 'criar_vaga' %}">Adicionar Vaga</a>
            <a class="nav-link active" href="{% url 'admin_charts' %}">Gráficos</a>
        </nav>
        <hr class="mt-0 mb-4">

        
        

        
        

        {%block scripts%}
            <script>
            // jquery function
            $(document).ready(function(){
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [{% for l in vagas_labels %}'{{l}}', {% endfor %}], //loop through queryset, 
                            datasets: [{
                                label: 'Vagas criadas',
                                data: [{% for v in vagas_values %}{{v}}, {% endfor %}],
                                lineTension: 0.3,
                                backgroundColor: 'rgba(78,115,233,0.05)',
                                borderColor: 'rgba(78,115,223,1)',
                                pointRadius: 3,
                                pointBackgroundColor: 'rgba(78,115,223,1)',
                                pointBorderColor: 'rgba(78,115,223,1)',
                                pointHoverRadius: 3,
                                pointHoverBackgroundColor: 'rgba(78,115,223,1)',
                                pointHoverBorderColor: 'rgba(78,115,223,1)',
                                pointHitRadius: 10,
                                pointBorderWidht: 2,
                            }]
                        },
                        options: {
                           scales:{
                               yAxes:[{
                                   ticks:{
                                       beginAtZero: true
                                   }
                               }]
                           }
                        }
            });
            });



            $(document).ready(function(){
                var ctx = document.getElementById('myChart2').getContext('2d');
                var myChart2 = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [{% for l in candidatos_labels %}'{{l}}', {% endfor %}], //loop through queryset, 
                        datasets: [{
                            label: 'Candidaturas recebidas',
                            data: [{% for v in candidatos_values %}{{v}}, {% endfor %}],
                            lineTension: 0.3,
                            backgroundColor: 'rgba(255,138,23,0.05)',
                            borderColor: 'rgba(255,138,23,1)',
                            pointRadius: 3,
                            pointBackgroundColor: 'rgba(255,138,23,1)',
                            pointBorderColor: 'rgba(255,138,23,1)',
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: 'rgba(255,138,23,1)',
                            pointHoverBorderColor: 'rgba(255,138,23,1)',
                            pointHitRadius: 10,
                            pointBorderWidht: 2,
                        }]
                    },
                    options: {
                       scales:{
                           yAxes:[{
                               ticks:{
                                   beginAtZero: true
                               }
                           }]
                       }
                    }
        });
        });
            </script>
            {%endblock scripts%}
            


        <br><br>
    </div>
</div>

<div class="row">
    <div class="container mt-50">
        <canvas id="myChart" width="400" height="100"></canvas>  
    </div>
</div>
<br><br>
<div class="row">
    <div class="container mt-50">
        <canvas id="myChart2" width="400" height="100"></canvas>  
    </div>
</div>
<br><br>

{% endblock %}