{% extends 'base.html' %}
{% block content %}

<head>
    <title>Smart - Vagas Disponíveis</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<br><br><br><br><br><br>

<div class="container-xl px-4 mt-4">

    <a  href="{% url 'criar_vaga' %}"><button type="button" class="btn btn-success">Adicionar nova vaga</button></a>
    <br><br>

    <div class="card mb-4">
        <div class="card-header">Vagas disponíveis</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">Vaga</th>
                            <th class="border-gray-200" scope="col"><i class="zmdi zmdi-money mr-2"></i>Salário</th>
                            <th class="border-gray-200" scope="col"><i class="zmdi zmdi-graduation-cap mr-2"></i>Escolaridade</th>
                            <th class="border-gray-200" scope="col">N° Inscritos</th>
                            <th class="border-gray-200" scope="col">Status</th>
                            <th class="border-gray-200" scope="col">Editar</th>
                            <th class="border-gray-200" scope="col">Excluir</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for v in vacancies %}
                        <tr>
                            <td><a href="/administracao/vaga/{{v.id}}">{{v.name}}</a></td>
                            <td>{{v.get_salary_range_display}}</td>
                            <td>{{v.get_minimum_schooling_display}}</td>
                            <td>{{v.quant}}</td>
                            {% if v.active == True %}
                                <td><span class="badge bg-light text-dark">Em processo</span></td>
                            {% else %}
                                <td><span class="badge bg-warning">Encerrada</span></td>
                            {% endif %}
                            <td><a id="editar-vaga" href="/vagas/editar/{{v.id}}"><i class="zmdi zmdi-edit"></i></a></td>
                            <td><a id="deletar-vaga" href="/vagas/excluir/{{v.id}}"><i class="zmdi zmdi-delete"></i></a></td>
                        </tr>


                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    <br><br>
</div>	



{% endblock %}