{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Smart - Excluir Vaga</title>
</head>



    {% comment %} {% include 'slide.html' %} {% endcomment %}
    <br><br><br><br><br><br>


    <div class="container"> 

        <a href="{% url 'admin_vacancies' %}"><i class="zmdi zmdi-arrow-left"></i>  Ver todas as vagas</a>
        <br><br>
        
        <h3>Excluir Vaga</h3>
        <hr class="mt-0 mb-4">
        <p> Deseja realmente excluir a vaga: <b>{{object}}</b>? </p>
        <br>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-danger">Excluir</button>
        </form> 
            
        


        <br><br><br>
    </div>

{% endblock %}