{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% comment %} {% include 'slide.html' %} {% endcomment %}
    <br><br><br><br><br><br>
    <div class="container"> 
        <h4>
            <strong>
                {{vacancy.name|title}}
            </strong>
        </h4>
        <br>
        <div class="job-content">
            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                <li class="mr-md-4">
                    <i class="zmdi zmdi-money mr-2"></i>{{vacancy.salary_range}}
                </li>
                <li class="mr-md-4">
                    <i class="zmdi zmdi-graduation-cap mr-2"></i>{{vacancy.minimum_schooling}}
                </li>
            </ul>
        </div>
    
        <br>
        <justify>
            <P><strong>Requisitos:</strong></p>
            <p>{{vacancy.requirements}}</p>
        </justify>
        {% comment %} <h2>{{candidate.email}}</h2> {% endcomment %}
        

        {% comment %} {% for field in form %}
            <p>
                {{field.label_tag}}
                {{field}}
                
                {% if field.help_text %}
                    <small style="color: white;">{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                {% endfor %}
            </p>

        {% endfor %} {% endcomment %}







    
        <div class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
            <form  id="contact-form" method="post">
                {% csrf_token %}
                <div class="form-input mt-15">
                    <label>Pretensão Salarial</label>
                    <div class="input-items default">

                        <select name="salary_expectation" required="" id="id_salary_expectation">
                            <option value="">---------</option>
                          
                            <option value="Até 1000">ATÉ 1000</option>
                          
                            <option value="De 1000 a 2000">DE 1000 A 2000</option>
                          
                            <option value="De 2000 a 3000">DE 2000 A 3000</option>
                          
                            <option value="Acima de 3000">ACIMA DE 3000</option>
                          
                          </select>
                        {% comment %} <i class="lni-user"></i> {% endcomment %}
                    </div>
                </div> <!-- form input -->
               
                <div class="form-input mt-15">
                    <label>Escolaridade</label>
                    <div class="input-items default">
                        <select name="last_schooling" required="" id="id_last_schooling">
                            <option value="" selected="">---------</option>
                          
                            <option value="Ensino Fundamental">ENSINO FUNDAMENTAL</option>
                          
                            <option value="Ensino Médio">ENSINO MÉDIO</option>
                          
                            <option value="Tecnólogo">TECNÓLOGO</option>
                          
                            <option value="Ensino Superior">ENSINO SUPERIOR</option>
                          
                            <option value="Pós/MBA/Mestrado">PÓS/MBA/MESTRADO</option>
                          
                            <option value="Doutorado">DOUTORADO</option>
                    
                          </select>
                        {% comment %} <i class="lni-user"></i> {% endcomment %}
                    </div>
                </div> <!-- form input -->

                <div class="form-input mt-15">
                    <label>Experiência</label>
                    <div class="input-items default">
                        <textarea placeholder="Fale um pouco sobre sua experiência" name="experience" id="id_experience"></textarea>
                        <i class="lni-pencil-alt"></i>
                    </div>
                </div> <!-- form input -->
                <p class="form-message"></p>
                <div class="rounded-buttons mt-20">
                    <button type="submit" class="main-btn rounded-three">Submit</button>
                </div> <!-- form input -->
            </form>
        </div> <!-- contact form -->
        <br><br><br>
    </div>

{% endblock %}